- provide(:title, 'Organization Applications')

- if @organization.submitted? || @organization.rejected?
  %h1.mt-5 Review Application for #{@organization.name}
- else
  %h1.mt-5= @organization.name

- if current_user.admin?
  .row.mt-5
    .col-1 &#9989;
    .col-11 I own and am responsible for the goods I am donating OR my organization has granted me the authority to donate these goods on their behalf.
  .row
    .col-1 &#9989;
    .col-11 For donations of goods, I maintain that the goods are in working order (if applicable), and are clean, sanitary and immediately able to be used.
  .row
    .col-1 &#9989;
    .col-11 I understand that I am responsible for the storage and organization of any material goods until they are dispatched to those who need them.
  .row
    .col-1 &#9989;
    .col-11 I understand that not all donated goods will be needed right away, if at all.
  .row
    .col-1 &#9989;
    .col-11 For donations of volunteer hours or labor, the volunteer(s) have signed a liability waiver for my organization.
  .row
    .col-1 &#9989;
    .col-11 For donations of volunteer hours or labor, the volunteer(s) has passed a background check provided by my organization.
  .row
    .col-1 &#9989;
    .col-11 My organization maintains all liability regarding volunteer injury, wrongdoing, misappropriation, or other any other issues regarding my/our donation.
  .row
    .col-1 &#9989;
    .col-11 CENTRAL OREGON COAD shall be indemnified against legal action resulting from the action or inaction of my organization’s members and or/the allocation or the refusal to allocate resources or people.

%dl.row.mt-5
  %dt.col-3 Applicant Name
  %dd.col-9= @organization.primary_name
  %dt.col-3 Applicant Title
  %dd.col-9= @organization.title
  %dt.col-3 Organization Name
  %dd.col-9= @organization.name
  %dt.col-3 Phone
  %dd.col-9= @organization.phone
  %dt.col-3 Secondary Contact
  %dd.col-9= @organization.secondary_name
  %dt.col-3 Secondary Phone
  %dd.col-9= @organization.secondary_phone
  %dt.col-3 Email
  %dd.col-9= @organization.email
  %dt.col-3 Liability Insurance?
  %dd.col-9= @organization.liability_insurance
  %dt.col-3 Transportation?
  %dd.col-9= @organization.transportation
  %dt.col-3 Available Resources
  %dd.col-9
    %ul
      - @organization.resource_categories.each do |category|
        %li= category.name
  %dt.col-3 Description
  %dd.col-9= @organization.description

- if current_user.admin? && @organization.submitted? || @organization.rejected?
  .row.mt-5.align-items-end
    .col-6.align-bottom= link_to 'Approve', approve_organization_path(@organization), method: :post, class: 'btn btn-success'
    .col-6
      = form_for @organization, url: { action: 'reject' }, method: :post do |f|
        .form-group
          = f.label :rejection_reason, 'Rejection Reason'
          = f.text_area :rejection_reason, size: '60x6', class: 'form-control'
        = f.submit 'Reject', class: 'btn btn-danger'
